<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>chat</title>

<%- include('basic-set')%>
<link href="/public/chat.css" rel="stylesheet">
</head>
<body>
  
<!-- 상단 nav -->
<div id="bar-container">
  <div id="chat-btn-container">
    <button type="button" class="btn btn-primary" id="createChatRoom">채팅방 생성</button>
    <button type="button" class="btn btn-primary" id="searchChatRoom">채팅방 검색</button>
  </div>
</div>

  <div class="createChatRoom-modal-container">
    <div class="createChatRoom-modal bg-dark">
      <h4>채팅방 생성</h4>
      <form>
        <div class="my-3">
          <input type="text" class="form-control" id="chatRoomName" value="test1">
        </div>
          <button type="submit" class="btn btn-primary" id="create">생성</button>
          <button type="button" class="btn btn-danger" id="create-close">닫기</button>
      </form> 
    </div>
  </div> 
  
  <div class="searchChatRoom-modal-container">
    <div class="searchChatRoom-modal bg-dark">
      <h4>채팅방 검색</h4>
      <form>
        <div class="my-3">
          <input type="text" class="form-control" id="chatRoomNameSearch" value="test2">
        </div>
        <form action="/chatRoomList" method="GET">
          <div id="chatRoomList">
            <ul>
              <% for(let i = 0; i < chatrooms.length; i++) {%>
                <li>
                  <span><%= chatrooms[i].title %></span>
  
                </li>
              <% } %>
            </ul>
          </div>
        </form>
        <br>
          <button type="submit" class="btn btn-primary" id="conn">접속</button>
          <button type="button" class="btn btn-danger" id="search-close">닫기</button>
      </form> 
    </div>
  </div> 

  <script>
    $('#createChatRoom').on('click', function() {
      $('.createChatRoom-modal-container').addClass('create-show-modal');
    });
  
    $('#create-close').on('click', function() {
      $('.createChatRoom-modal-container').removeClass('create-show-modal');
    });

    $('#searchChatRoom').on('click', function() {
      $('.searchChatRoom-modal-container').addClass('search-show-modal');
    });
  
    $('#search-close').on('click', function() {
      $('.searchChatRoom-modal-container').removeClass('search-show-modal');
    });
  </script>

<div id="container">
  
  <div id="ChatRoom-container">
    <div class="ChatRoom">
      <ul class="list-group chat-list" style="overflow: auto;">
        <% for(let i=0; i < data.length; i++) {%>
          <li class="list-group-item" data-id="<%=data[i]._id%>">
            <h6>
              <%= data[i].title%>
            </h6>
            <h6 style="word-wrap: break-word; " class="text-small">
              <%= data[i].memberName%>
            </h6>
          </li>
          <% } %>
      </ul>
    </div>
  </div>

  

  <!-- Main -->
  <div id="Main">
    dsadsa
    <br>
  </div>
</div>



</body>
</html>