<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>chat</title>

  <%- include('basic-set')%>
    <link href="/public/chat.css" rel="stylesheet">
</head>

<body>

  <!-- 상단 nav -->
  <div id="bar-container">
    <div id="chat-btn-container">
      <button type="button" class="btn btn-primary" id="createChatRoom">채팅방 생성</button>
      <button type="button" class="btn btn-primary" id="searchChatRoom">채팅방 검색</button>
    </div>
  </div>

  <div class="createChatRoom-modal-container">
    <div class="createChatRoom-modal bg-dark">
      <h4>채팅방 생성</h4>
      <form>
        <div class="my-3">
          <input type="text" class="form-control" id="chatRoomName" name="chatRoomName">
        </div>
        <button type="submit" class="btn btn-primary" id="create">생성</button>
        <button type="button" class="btn btn-danger" id="create-close">닫기</button>
      </form>
    </div>
  </div>

  <div class="searchChatRoom-modal-container">
    <div class="searchChatRoom-modal bg-dark">
      <h4>채팅방 입장</h4>
      <div class="my-3">
        <input type="text" class="form-control" id="chatRoomNameSearch" value="test2">
      </div>
      <div id="chatRoomList">
        <% for(var i=0; i < chatrooms.length; i++) {%>
          <ul>
            <a href="#">
              <li class="chatrooms_title">
                <%= chatrooms[i].title %>
              </li>
            </a>
          </ul>
          <% } %>
      </div>
      <br>
      <button type="submit" class="btn btn-primary" id="conn">접속</button>
      <button type="button" class="btn btn-danger" id="search-close">닫기</button>
    </div>
  </div>

  <script>
    $('#createChatRoom').on('click', function () {
      $('.createChatRoom-modal-container').addClass('create-show-modal');
    });

    $('#create-close').on('click', function () {
      $('.createChatRoom-modal-container').removeClass('create-show-modal');
    });

    $('#searchChatRoom').on('click', function () {
      $('.searchChatRoom-modal-container').addClass('search-show-modal');
    });

    $('#search-close').on('click', function () {
      $('.searchChatRoom-modal-container').removeClass('search-show-modal');
    });

    $('#searchChatRoom').on('click', function () {

    })

    $('#chatRoomNameSearch').on('keypress', function (e) {
      console.log(e.target.value)

    })

  </script>

  <div class="container p-4 detail">

    <div class="row">

      <div class="col-3">
        <ul class="list-group chat-list" style="overflow: auto;">
          <% for(let i=0; i < data.length; i++) {%>
            <li class="list-group-item" data-id="<%=data[i]._id%>">
              <h6>
                <%= data[i].title%>
              </h6>
              <h6 style="word-wrap: break-word; " class="text-small">
                <%= data[i].memberName%>
              </h6>
            </li>
            <% } %>
        </ul>
      </div>

      <div class="col-9 p-0" style="display: none;">
        <div class="chat-room">
          <ul class="list-group chat-content">

          </ul>
          <div class="input-group">
            <input class="form-control" id="chat-input">
            <button class="btn btn-secondary" id="send">전송</button>
          </div>
        </div>
      </div>

    </div>

  </div>


  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>

  <script>
    var click_chatroom_id;
    var eventSource;

    $('.list-group-item').click(function () {
      click_chatroom_id = this.dataset.id; // 현재 클릭이벤트 동작하는 코드

      $('.col-9.p-0').css("display", "block");
      // 채팅 비우기
      $('.chat-content').html('');

      if (eventSource != undefined) {
        eventSource.close();
      }

      // 실시간 소통 채널 입장완료
      eventSource = new EventSource('/message/' + click_chatroom_id); // 유저 데이터 수신 ==> new EventSource('/경로')
      eventSource.addEventListener('test', function (e) { // 이벤트 리스너

        // 서버가 응답을 해줄때마다(데이터를 보낼때) 이벤트리스너 실행
        //console.log(JSON.parse(e.data)) // 서버에서 보낸 데이터(json)를 parse 한다.

        var get_message_data = JSON.parse(e.data);
        get_message_data.forEach(function (i) { // 가져온 메시지 수 만큼 반복한다.

          // i.userid와 현재 스토리지(세션? 쿠키?)에 들어있는 유저 아이디와 같다면 오른쪽 정렬
          // 아니면 왼쪽 정렬
          //if(i.userid )

          if (i.userid == "<%= my_id%>") {
            $('.chat-content').append('<li><span style="background-color: yellow; float: right;"  class="chat-box">' + i.content + '</span></li>');
          } else {
            $('.chat-content').append('<li><span class="chat-box">' + i.content + '</span></li>');
          }


          $('.chat-content').scrollTop($('.chat-content')[0].scrollHeight); // 상대방한테 메시지 받을때 스크롤 내리기
        });

      });

    });

    $('#send').click(function () {
      var chat_data = $('#chat-input').val();
      var send_data = {
        parent: click_chatroom_id,
        content: chat_data,
      }

      $.post('/message', send_data).then(() => {
        console.log('전송 성공');
        $('#chat-input').val('');

        //$('.chat-content').scrollTop($('.chat-content')[0].scrollHeight);
        // 메시지 보내면 스크롤 내리기
        $('.chat-content').stop().animate({ scrollTop: $('.chat-content')[0].scrollHeight });
      })

    });
  </script>



</body>

</html>